body{
    background-color: #961212;
    font-family: Arial, Tahoma, sans-serif;
    font-display: fallback;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
*{
    box-sizing: border-box;
    text-align: center;
}
.header{
    border: 2px solid blue;
    padding: 15px;
    color: #FFF;
}
.flexMenu{
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    width: 26%;
    padding: 15px;
    font-size: 1.01em;
    float: left;
    font-style : oblique;
    font-weight: bold;
}
.main{
    border: 1px solid red;
    width: 70%;
    padding: 15px;
    float:right;
    
}
.footer{
    border: 2px solid blue;
    padding: 15px;
    clear: both;
}
p.oblique{
    font-size: 1.2em;
    font-style : oblique;
    font-weight: bold;
    color: #666;
    margin: 0;
    padding: 0;
}
